<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h1 class="center-text">OMDB Search</h1>
<!-- <form class="list" ng-submit="search()">
  <div class="form-group">
    <label>Search for a Movie:</label>
    <input type="text" class="form-control" ng-model="searchTerm.q">
    <input type="submit" value="Submit" class="my-button my-button-primary">
  </div>
</form> -->

<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Movie Title" ng-model="searchTerm.q">
  </label>
 <div class="row">
 <div class="col col-50 col-offset-25">
  <button type="submit" value="Submit" ng-click="search()" class="my-button my-button-primary button-block">Submit</button>
  </div>
</div>
</div>


<div ng-repeat="movie in movies track by $index">
<img ng-src="{{movie.Poster}}" style="width: 30px;" alt="Description" />
  {{movie.Title}}
  <span style="font-weight: bold;">{{movie.Year}}</span>
</div>

  </ion-content>
</ion-view>

