<ion-view view-title="Weather">
 <ion-content class="padding">
    <h1 class="center-text">Weather Search</h1>


  <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Enter your city here" ng-model="currentWeather.q">
  </label>
 <div class="row">
 <div class="col col-50 col-offset-25">
  <button type="submit" value="Submit" ng-click="search()" class="my-button my-button-primary button-block">Search</button>
  </div>
</div>
</div>

            <h3 class="center-text">{{result.name}}</h3>
            <img style="display: block;" class="center" ng-src="http://openweathermap.org/img/w/{{result.weather[0].icon}}.png" />
        <h4 class="center-text">{{result.main.temp  | number:1}} °F</h4>
       
</ion-content>
</ion-view>
